<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>GuruMatch Register</title>

    <!-- css link-->
    <link rel="stylesheet" href="css/styles.css" />

    <!-- bootstrap 5.0 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="background-color: #505c74">
    <div class="card" id="login-card">
      <h1 class="register-h1">GuruMatch</h1>
      <h2 class="register-h2">Register</h2>
      <%- include('./popupMessages/messages'); %>
      <form action="/register" method="POST">
        <div>
          <input
            type="firstName"
            class="input-register"
            name="firstName"
            placeholder="First Name"
            value="<%= typeof firstName != 'undefined' ? firstName : '' %>"
          />
        </div>
        <div>
          <input
            type="lastName"
            class="input-register"
            name="lastName"
            placeholder="Last Name"
            value="<%= typeof lastName != 'undefined' ? lastName : '' %>"
          />
        </div>
        <div>
          <input
            type="email"
            class="input-register"
            name="email"
            placeholder="Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div>
          <input
            type="password"
            class="input-register"
            name="password"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div>
          <input
            type="password"
            class="input-register"
            name="passwordConfirm"
            placeholder="Confirm Password"
            value="<%= typeof passwordConfirm != 'undefined' ? passwordConfirm : '' %>"
          />
        </div>
        <a href="login"><center>Already have account?</center></a>

        <button type="submit" class="btn btn-primary" id="btn-override">
          Register
        </button>
      </form>
      <div>
        <a class="btn btn-block" href="/auth/google" role="button">
          <i class=""></i>
          Register with Google
        </a>
        <a class="btn btn-block" href="/auth/facebook" role="button">
          <i class=""></i>
          Register with Facebook
        </a>
      </div>

   
    </div>
  </body>
</html>
